<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>afl-utils SkyEye :: Fuzzer Stats - Plots</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "aflutils/aflutils.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "aflutils/graph.css" %}">
    <script src="https://d3js.org/d3.v2.min.js"></script>
</head>
<body>
    {% if fuzzer %}
        <h1>Plots for fuzzer "{{fuzzer.name}}"</h1>
        <div id="container"><div id="graph" class="aGraph"></div></div>
        <script>
            var last_update = [{{fuzzer.d3.last_update}}];
            var cycles_done = [{{fuzzer.d3.cycles_done}}];
            var execs_done = [{{fuzzer.d3.execs_done}}];
            var execs_per_sec = [{{fuzzer.d3.execs_per_sec}}];
            var paths_total = [{{fuzzer.d3.paths_total}}];
            var paths_favored = [{{fuzzer.d3.paths_favored}}];
            var paths_found = [{{fuzzer.d3.paths_found}}];
            var paths_imported = [{{fuzzer.d3.paths_imported}}];
            var max_depth = [{{fuzzer.d3.max_depth}}];
            var cur_path = [{{fuzzer.d3.cur_path}}];
            var pending_favs = [{{fuzzer.d3.pending_favs}}];
            var pending_total = [{{fuzzer.d3.pending_total}}];
            var variable_paths = [{{fuzzer.d3.variable_paths}}];
            var stability = [{{fuzzer.d3.stability}}];
            var bitmap_cvg = [{{fuzzer.d3.bitmap_cvg}}];
            var unique_crashes = [{{fuzzer.d3.unique_crashes}}];
            var unique_hangs = [{{fuzzer.d3.unique_hangs}}];
            var last_path = [{{fuzzer.d3.last_path}}];
            var last_crash = [{{fuzzer.d3.last_crash}}];
            var last_hang = [{{fuzzer.d3.last_hang}}];
            var execs_since_crash = [{{fuzzer.d3.execs_since_crash}}];
            {% comment %}
            /* Skip 'static' fields to not overload the js */
            var start_time = [{{fuzzer.d3.start_time}}];
            var fuzzer_pid = [{{fuzzer.d3.fuzzer_pid}}];
            var exec_timeout = [{{fuzzer.d3.exec_timeout}}];
            var afl_banner = [{{fuzzer.d3.afl_banner}}];
            var afl_version = [{{fuzzer.d3.afl_version}}];
            var command_line = [{{fuzzer.d3.command_line}}];
            {% endcomment %}
            /* implementation heavily influenced by http://bl.ocks.org/1166403 */

            // define dimensions of graph
            var m = [80, 80, 80, 80]; // margins
            var w = 1000 - m[1] - m[3]; // width
            var h = 400 - m[0] - m[2]; // height

            // create a simple data array that we'll plot with a line (this array represents only the Y values, X will just be the index location)
            var data = execs_per_sec;

            // X scale will fit all values from data[] within pixels 0-w
            var x = d3.scale.linear().domain([0, data.length]).range([0, w]);
            // Y scale will fit values from 0-10 within pixels h-0 (Note the inverted domain for the y-scale: bigger is up!)
            var y = d3.scale.linear().domain([0, d3.max(data)]).range([h, 0]);

            // create a line function that can convert data[] into x and y points
            var line = d3.svg.line()
                // assign the X function to plot our line as we wish
                .x(function(d,i) {
                    // verbose logging to show what's actually being done
                    console.log('Plotting X value for data point: ' + d + ' using index: ' + i + ' to be at: ' + x(i) + ' using our xScale.');
                    // return the X coordinate where we want to plot this datapoint
                    return x(i);
                })
                .y(function(d) {
                    // verbose logging to show what's actually being done
                    console.log('Plotting Y value for data point: ' + d + ' to be at: ' + y(d) + " using our yScale.");
                    // return the Y coordinate where we want to plot this datapoint
                    return y(d);

                });

                // Add an SVG element with the desired dimensions and margin.
                var graph = d3.select("#graph").append("svg:svg")
                      .attr("width", w + m[1] + m[3])
                      .attr("height", h + m[0] + m[2])
                    .append("svg:g")
                      .attr("transform", "translate(" + m[3] + "," + m[0] + ")");

                // create yAxis
                var xAxis = d3.svg.axis().scale(x).tickSize(-h).tickSubdivide(true);
                // Add the x-axis.
                graph.append("svg:g")
                      .attr("class", "x axis")
                      .attr("transform", "translate(0," + h + ")")
                      .call(xAxis);


                // create left yAxis
                var yAxisLeft = d3.svg.axis().scale(y).ticks(4).orient("left");
                // Add the y-axis to the left
                graph.append("svg:g")
                      .attr("class", "y axis")
                      .attr("transform", "translate(-25,0)")
                      .call(yAxisLeft);

                // Add the line by appending an svg:path element with the data line we created above
                // do this AFTER the axes above so that the line is above the tick-lines
                graph.append("svg:path").attr("d", line(paths_total));
                graph.append("svg:path").attr("d", line(paths_favored));
                graph.append("svg:path").attr("d", line(pending_total));
                graph.append("svg:path").attr("d", line(paths_favs));
        </script>
    {% else %}
        <p>No fuzzer stats available!</p>
    {% endif %}
</body>
</html>
