<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>afl-utils SkyEye :: Fuzzer Stats - Plots</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "aflutils/aflutils.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "aflutils/graph.css" %}">
    <script src="https://d3js.org/d3.v3.min.js"></script>
</head>
<body>
    {% if fuzzer %}
        <h1>Plots for fuzzer "{{fuzzer.name}}"</h1>
        <div id="container"><div id="graph" class="aGraph"></div></div>
        <script>
            var last_update = [{{fuzzer.d3.last_update}}];
            var cycles_done = [{{fuzzer.d3.cycles_done}}];
            var execs_done = [{{fuzzer.d3.execs_done}}];
            var execs_per_sec = [{{fuzzer.d3.execs_per_sec}}];
            var paths_total = [{{fuzzer.d3.paths_total}}];
            var paths_favored = [{{fuzzer.d3.paths_favored}}];
            var paths_found = [{{fuzzer.d3.paths_found}}];
            var paths_imported = [{{fuzzer.d3.paths_imported}}];
            var max_depth = [{{fuzzer.d3.max_depth}}];
            var cur_path = [{{fuzzer.d3.cur_path}}];
            var pending_favs = [{{fuzzer.d3.pending_favs}}];
            var pending_total = [{{fuzzer.d3.pending_total}}];
            var variable_paths = [{{fuzzer.d3.variable_paths}}];
            var stability = [{{fuzzer.d3.stability}}];
            var bitmap_cvg = [{{fuzzer.d3.bitmap_cvg}}];
            var unique_crashes = [{{fuzzer.d3.unique_crashes}}];
            var unique_hangs = [{{fuzzer.d3.unique_hangs}}];
            var last_path = [{{fuzzer.d3.last_path}}];
            var last_crash = [{{fuzzer.d3.last_crash}}];
            var last_hang = [{{fuzzer.d3.last_hang}}];
            var execs_since_crash = [{{fuzzer.d3.execs_since_crash}}];
            {% comment %}
            /* Skip 'static' fields to not overload the js */
            var start_time = [{{fuzzer.d3.start_time}}];
            var fuzzer_pid = [{{fuzzer.d3.fuzzer_pid}}];
            var exec_timeout = [{{fuzzer.d3.exec_timeout}}];
            var afl_banner = [{{fuzzer.d3.afl_banner}}];
            var afl_version = [{{fuzzer.d3.afl_version}}];
            var command_line = [{{fuzzer.d3.command_line}}];
            {% endcomment %}
        </script>
        <script src="{% static "aflutils/plot_details.js" %}"></script>
    {% else %}
        <p>No fuzzer stats available!</p>
    {% endif %}
</body>
</html>
