<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>afl-utils SkyEye :: Fuzzer Stats - Overview</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "aflutils/aflutils.css" %}">
</head>
<body>
    <h1>Fuzzer Stats - Overview</h1>
    {% if fuzzer_summary_list %}
    <table>
        <thead>
            <tr>
                <th>Fuzzer ID</th>
                <th>P</th>
                <th>PF</th>
                <th>PT</th>
                <th>UC</th>
                <th>UH</th>
                <th>Plots</th>
                <th>Triage</th>
                <th>Results</th>
            </tr>
        </thead>
        <tbody>
        {% for summary in fuzzer_summary_list %}
            {% if forloop.counter0|divisibleby:"2" %}
                <tr>
            {% else %}
                    <tr class="odd">
            {% endif %}
                <td>{{summary.fuzzer}}</td>
                <td>{{summary.paths_total}}</td>
                <td>{{summary.pending_favs}}</td>
                <td>{{summary.pending_total}}</td>
                <td>{{summary.unique_crashes}}</td>
                <td>{{summary.unique_hangs}}</td>
                <td><a href="{% url 'details' summary.fuzzer_id %}">View</a></td>
                <td>Go!</td>
                <td>View</td>
            </tr>
        {% endfor %}
        </tbody>
        <caption>P: paths total, PF: pending favs, PT: pending total, UC: unique crashes, UH: unique hangs</caption>
    </table>
    {% else %}
        <p>No fuzzer stats available!</p>
    {% endif %}
</body>
</html>
