/* "Winter Blues" CSS theme for CSS Table Gallery (http://icant.co.uk/csstablegallery/) by Gunta Klavina (http://www.klavina.com) */

h1 {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    font: 120% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
}

table {
    font: 85% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
    padding: 0;
    margin: auto;
    border-collapse: collapse;
    color: #333;
    background: #F3F5F7;
}

table a {
    color: #3A4856;
    text-decoration: none;
    border-bottom: 1px solid #C6C8CB;
}

table a:visited {
    color: #777;
}

table a:hover {
    color: #000;
}

table caption {
    caption-side: bottom;
    text-align: center;
    padding-bottom: 10px;
    font: 80% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
}

table thead th {
    background: #3A4856;
    padding: 15px 10px;
    color: #fff;
    text-align: center;
    font-weight: normal;
}

table tbody, table thead {
    border-left: 1px solid #EAECEE;
    border-right: 1px solid #EAECEE;
}

table tbody {
    border-bottom: 1px solid #EAECEE;
}
                      
table tbody td, table tbody th {
    padding: 10px;
    background: url("td_back.gif") repeat-x;
    text-align: center;
}

table tbody tr {
    background: #F3F5F7;
}

table tbody tr.odd {
    background: #F0F2F4;
}

table tbody  tr:hover {
    background: #EAECEE;
    color: #111;
}

table tfoot td, table tfoot th, table tfoot tr {
    text-align: left;
    font: 120%  "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
    text-transform: uppercase;
    background: #fff;
    padding: 10px;
}
