#container {
    width: 100%;
}

#graph_paths {
    width: 50%;
    margin: 0 auto;
}

#graph_crashes {
    width: 50%;
    margin: 0 auto;
}

#graph_metrics {
    width: 50%;
    margin: 0 auto;
}

path {
    stroke-width: 1;
    fill: none;
}

path.data1 {
    stroke: darkorange;
}

path.data2 {
    stroke: green;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

.y.axisRight text {
    fill: green;
}

.y.axisLeft text {
    fill: darkorange;
}
